.Header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    height: 73px;
}
img{
    margin-top: -5px;
}
h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin-left: 30px;
}
h1 span {
    color:#F34B26;
}

.accountInfo {
    justify-content: flex-end;
    font-family: 'Patrick Hand SC', cursive;
    font-weight: 300px;
    font-size: 20px;
}
