td {
    width: 100px;
    padding: 10px;
    text-align: center;
    background: none !important;
    
}

table{
  left: 50hw;
  position: absolute;
  margin-top: 20px;
}

td img{
  width:300px;
  height:200px;
  align-items: center;
  border-radius: 5px;
}
td > p.numCredit{
  background-color: rgba(245, 177, 101, 0.8);
  border:1px solid rgba(216, 143, 62, 0.8);
  border-radius: 5px;
}
td > p.numCredit:hover{
  box-shadow: 3px 3px rgb(40, 31, 2);
}
td > p.itemReward{
  background-color: rgba(245, 129, 101, 0.8);
  border: 1px solid rgba(216, 91, 62, 0.8);
  border-radius: 5px;
}
tbody{
  background: rgba(106, 161, 185, 0.8) !important;
}