.siteInfo {
    margin:auto;
}
h1, h2, p{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}
h1 span {
    color:#F34B26;
}
.register-info, .credit-info, .donate-info{
    box-sizing:border-box;
    border: 2px solid black;
    margin-left: 10px;
}
.donate-info{
    margin-right: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
