.siteInfo {
    margin:auto;
}
p{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 25px;
    padding: 2px;
}
.register-info, .credit-info, .donate-info{
    box-sizing:border-box;
    border: 2px solid rgb(209, 41, 1);
    background-color: rgba(242, 74, 37, 0.7);
    margin-left: 10px;
    border-radius: 5px;
}
.donate-info{
    margin-right: 10px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
